.important {
  color: maroon;
}
.unimportant {
  color: darkblue;
}
.cat-climate {
  background-color: darkgoldenrod;
}
img {
  float: right;
  width: 30%;
}
.sidebar {
  width: 30%;
  float: left;
  background-color: peru;
}
.column {
  float: left;
  width: 350px;
}
.main {
  text-align: justify;
}