.important {
  color: maroon;
}
.unimportant {
  color: darkblue;
}
.cat-climate {
  background-color: darkgoldenrod;
}
img {
  float: right;
  width: 40%;
  margin: 10px;
}
.sidebar {
  width: 30%;
  height: 60%;
  float: left;
  background-color: peru;
  border: solid darkolivegreen 5px;
  margin:4px;
}
.column {
  float: left;
  width: 350px;
}
.main {
  text-align: justify;
  margin: 4px;
}

